<%- include('partials/header'); -%>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/welcome/tatasteel">TATASTEEL</a></li>
    <li><a class="dropdown-item" href="/welcome/reliance">RELIANCE</a></li>
    <li><a class="dropdown-item" href="/welcome/cipla">CIPLA</a></li>
    <li><a class="dropdown-item" href="/welcome/eichermot">EICHERMOT</a></li>
    <li><a class="dropdown-item" href="/welcome/ashokley">ASHOKLEY</a></li>
  </ul>
</div>

<a href="/welcome">NSE</a>
<a href="/welcome/bse">BSE</a>
<h1>Welcome</h1>
<div>
  <h2><%= today_price %></h2>
  <h3><%= today_gain %></h3>
  <h4><%= today_date %></h4>
  <div>
    <table>
      <tr>
        <td>
          <table>
            <tr>
              <td>Open : <%= today_open %></td>
            </tr>
            <tr>
              <td>Previous Close : <%= yesterday_close %></td>
            </tr>
            <tr>
              <td>Day High : <%= today_high %></td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td>Day Low : <%= today_low %></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <iframe width="900" height="400" frameborder="0" scrolling="no" src="//plotly.com/~Azkairah/0.embed"></iframe>
  </div>
</div>

<a href="/logout">Logout</a>

<%- include('partials/footer'); -%>
